body {
    height: 100%;
    margin: 0;
    background-color: rgb(42, 44, 42)!important; 
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(149, 150, 149);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #121111;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5a819b;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #43779b;
}
