body {
    height: 100%;
    margin: 0;
    background-color: rgb(183, 244, 183); 
}

.contenedor {
        width: 200px;
        height: 200px;
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        margin: 50px auto;
    }