body {
    height: 100%;
    margin: 0;
    background-color: rgb(42, 44, 42)!important; 
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    width: 50%;
    background-color: rgb(149, 150, 149); 
    margin: 0 auto;
}

.imagen {
    width: 150px; 
    height: auto; 
   
}