body {
    height: 100%;
    margin: 0;
    background-color: rgb(55, 61, 55); 
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    width: 50%;
    background-color: rgb(149, 150, 149); 
    margin: 50px auto;
    text-align: center;}

     
.formulario-busqueda {
    display: inline-block;
    }
.campo-busqueda {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
   
    .boton-busqueda {
        padding: 8px 16px;
        font-size: 16px;
        background-color: #0b4c92;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    
    .boton-busqueda:hover {
        background-color: #4b6b8c;
    }